
.App {
  display: flex;
  margin-left: 200px;
  margin-top: 30px;
  width: 100%;
}

.InputChart{
margin: 10px;
}

.DisplayingChart {
  padding-top: 40px;
  padding-left: 50px;
  background-color: black;
  color: white;
  width: 470px;
  border: 0;
}
