.App {
  font-family: Georgia;
display: flex;
flex-direction: column;
width: 62%;
height: auto;
margin: auto;

}

.item{
display: flex;
flex-direction: row;
flex-wrap: wrap;
border-bottom: 1px solid gray;
padding: 0px;

}

.leftSideDate{
flex: 20%;
color: gray;
font-family: sans-serif;
font-size: 10px;
margin-top: 30px;
text-align: center;

}

.text{
  flex: 50%;
  padding: 0px;
  margin-top: 5px;
}

.rightSidePic{
  flex:30%;
  margin-top: 30px;
}

.imageItself{
   width: 200px;
   height:150px;
   position: relative;
   left:20px;
}

.author{
  font-family: sans-serif;
  font-size: 10px;
  color: gray;
}
