.mailList{
    margin: 0;
    padding: 10px;
    list-style: none;
}
.mailItem{
    font-size: 14px;
    padding: 3px;
    border-bottom: 1px solid #e1e1e1;
}
.mailLeft,.mailRight{
    float: left;
}
.mailLeft{
    width: 60%;
    color: #646464;
}
.mailRight{
    width: 40%;
    color: #9b9b9b;
  
}

.sortNameBox{
    padding: 0px 10px 10px;
    display: flex;
    justify-content:space-between ;
}
.sortNameBox button{
    color: gray;
    outline: none;
    border: none;
    padding: 5px;
}
.sortNameBox button.active{
    color: purple;
}
