
.DisplayingBox{
  padding:0px;
  font-size:30px;
  color:#5A5A5A;
  height: 30px;
  width:auto;
  text-align: center;
  padding-top: 50px;
}

.box{
  background-color: #EDEDED;
  width:640px;
  height:130px;
  margin: 10px;
  border-radius:10px;
}
